absl-py==0.15.0
addict==2.4.0
aiohttp==3.8.1
aiosignal==1.2.0
altair==4.2.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.4.0
audioread==2.1.9
backcall==0.2.0
backports.zoneinfo==0.2.1
baostock==0.8.8
base58==2.1.1
beautifulsoup4==4.10.0
bleach==4.1.0
blinker==1.4
Box2D @ file:///C:/Users/Jzxmt/Desktop/wwwwwwwwwww/Box2D-2.3.10-cp38-cp38-win_amd64.whl
box2d-py==2.3.8
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
cloudpickle==2.0.0
cnocr==2.1.0
cnstd==1.1.1
colorama==0.4.4
cryptography==36.0.1
cssselect==1.1.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython==0.29.26
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
dnspython==2.2.0
dv==1.0.10
elegantrl @ git+https://github.com/AI4Finance-LLC/ElegantRL.git@b92eebe8feb9b5c20915aebe6c6aea4562726446
eli5==0.13.0
entrypoints==0.4
et-xmlfile==1.1.0
eventlet==0.33.0
executing==0.8.3
filelock==3.6.0
fire==0.4.0
Flask==2.0.2
flatbuffers==1.12
fonttools==4.28.5
frozenlist==1.3.0
fsspec==2022.1.0
future==0.18.2
gast==0.3.3
gdown==4.4.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.1
greenlet==1.1.2
grpcio==1.32.0
gym==0.21.0
h11==0.12.0
h5py==2.10.0
hyperparams==1.2.3
idna==3.3
imageio==2.16.1
imbalanced-learn==0.9.0
imblearn==0.0
imgviz==1.4.1
importlib-metadata==4.10.0
importlib-resources==5.4.0
iniconfig==1.1.1
int-date==0.1.8
ipykernel==6.9.2
ipython==8.1.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.0.1
jedi==0.18.1
jieba==0.42.1
Jinja2==3.0.3
joblib==1.1.0
jsmin==3.0.1
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
labelImg==1.8.6
labelme==4.6.0
libclang==12.0.0
librosa==0.9.1
lightgbm==3.3.2
lime==0.2.0.1
llvmlite==0.38.0
lxml==4.7.1
lz4==3.1.10
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.2.2
matplotlib-inline==0.1.3
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
multidict==6.0.2
munkres==1.1.4
mysql-connector-python==8.0.27
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.2.0
nest-asyncio==1.5.4
networkx==2.6.3
notebook==6.4.9
numba==0.55.1
numpy==1.21.5
oauthlib==3.1.1
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
opencv-python==4.2.0.34
openpyxl==3.0.9
opt-einsum==3.3.0
outcome==1.1.0
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.3.5
pandocfilters==1.5.0
parsel==1.6.0
parso==0.8.3
PDPbox==0.2.1
pickleshare==0.7.5
Pillow==9.0.1
pluggy==1.0.0
Polygon3==3.0.9.1
pooch==1.6.0
prettytable==2.5.0
prometheus-client==0.13.1
prompt-toolkit==3.0.28
protobuf==3.19.1
psutil==5.9.0
psycopg2-binary==2.9.3
pure-eval==0.2.2
py==1.11.0
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet==3.2.0
pyclipper==1.3.0.post2
pycocotools-windows==2.0.0.2
pycparser==2.21
pydeck==0.7.1
pyDeprecate==0.3.1
pyecharts==1.9.1
Pygments==2.11.2
pymongo==4.0.1
Pympler==1.0.1
PyMySQL==1.0.2
pyOpenSSL==21.0.0
pyparsing==3.0.6
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyreadline==2.1
pyrsistent==0.18.1
PySocks==1.7.1
pytest==7.0.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==0.19.2
python-Levenshtein==0.12.2
pytorch-lightning==1.5.10
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.2.0
pywin32==303
pywinpty==2.0.5
pyxlsb==1.0.9
PyYAML==6.0
pyzmq==22.3.0
qqdm==0.0.7
qtconsole==5.3.0
QtPy==2.0.1
requests==2.26.0
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.8
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.4.1
seaborn==0.11.2
selenium==4.1.0
semver==2.13.0
Send2Trash==1.8.0
shap==0.40.0
Shapely==1.8.0
simplejson==3.17.6
sip==4.19.13
six==1.15.0
sklearn==0.0
slicer==0.0.7
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
SoundFile==0.10.3.post1
soupsieve==2.3.1
SQLAlchemy==1.4.29
stack-data==0.2.0
stockstats==0.3.2
streamlit==1.7.0
tabulate==0.8.10
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.5
tensorflow-estimator==2.2.0
tensorflow-gpu==2.2.0
tensorflow-gpu-estimator==2.2.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
terminado==0.13.3
testpath==0.6.0
thop==0.0.31.post2005241907
threadpoolctl==3.0.0
tifffile==2022.2.9
toml==0.10.2
tomli==2.0.1
toolz==0.11.2
torch==1.8.0
torchaudio==0.8.0
torchmetrics==0.7.2
torchvision==0.9.0
tornado @ file:///C:/ci/tornado_1606942392901/work
tqdm==4.46.1
traitlets==5.1.1
trio==0.19.0
trio-websocket==0.9.2
twisted-iocpsupport @ file:///D:/Twisted/twisted_iocpsupport-1.0.2-cp38-cp38-win_amd64.whl
typing-extensions==3.7.4.3
tzdata==2021.5
tzlocal==4.1
Unidecode==1.3.2
urllib3==1.26.7
utils==1.0.1
validators==0.18.2
w3lib==1.22.0
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wincertstore==0.2
wrapt==1.12.1
wsproto==1.0.0
xgboost==1.5.2
xlrd==2.0.1
yarl==1.7.2
zipp==3.6.0
zstd==1.5.1.0
